<h1 style="text-align: center;">Análise Descritiva do Churn do Banco</h1>

### importações

In [4]:
import pandas as pd
import matplotlib.pyplot as plt

### Sistema de plotagem de gráfico

In [5]:
def plot_chart(df, value_column, label_column, chart_type, title='', colors=['#003f5c', '#2f4b7c', '#665191', '#a05195', '#d45087', '#f95d6a', '#ff7c43', '#ffa600'], startangle=140, show_legend=True):
    if chart_type == 'pie':
        plt.figure(figsize=(8, 8))
        plt.pie(df[value_column], labels=df[label_column], autopct='%1.1f%%', startangle=startangle, colors=colors)
        plt.title(title)
    elif chart_type == 'bar':
        plt.figure(figsize=(10, 6))
        bars = plt.bar(df[label_column], df[value_column], color=colors)
        plt.title(title)
        plt.tight_layout()
        plt.xlabel(label_column)
        plt.ylabel(value_column)
        plt.xticks(rotation=45)
        for bar in bars:
            height = bar.get_height()
            plt.text(bar.get_x() + bar.get_width() / 2., 1.05*height, '%d' % int(height), ha='center', va='bottom')
    elif chart_type == 'line':
        plt.figure(figsize=(10, 6))
        for i, (region, group_df) in enumerate(df.groupby('Region')):
            plt.plot(group_df[label_column], group_df[value_column], marker='o', linestyle='-', color=colors[i % len(colors)], label=region if show_legend else "_nolegend_")
        plt.title(title)
        plt.tight_layout()
        plt.xlabel(label_column)
        plt.ylabel(value_column)
        plt.xticks(df[label_column].unique())
        if show_legend:
            plt.legend()
        for _, row in df.iterrows():
            plt.text(row[label_column], row[value_column], '%.2f' % row[value_column], ha='center', va='bottom')
    elif chart_type == 'boxplot':
        plt.figure(figsize=(10, 6))
        df.boxplot(column=value_column, by=label_column, patch_artist=True, boxprops=dict(facecolor=colors[0]), medianprops=dict(color="yellow"))
        plt.title(title)
        plt.suptitle('')
        plt.xlabel(label_column)
        plt.ylabel(value_column)
        plt.xticks(rotation=45)

    plt.show()

### Leitura do DF

In [8]:
df = pd.read_csv('../dataset/customerChurnRecords.csv')
display(df)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Card Type,Point Earned
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1,1,2,DIAMOND,464
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,3,DIAMOND,456
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,1,3,DIAMOND,377
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,5,GOLD,350
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,0,5,GOLD,425
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0,0,1,DIAMOND,300
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0,0,5,PLATINUM,771
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1,1,3,SILVER,564
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1,1,2,GOLD,339
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0,0,3,DIAMOND,911

### Análise de integridade do DF

In [9]:
display(df.dtypes)
display(df.isnull().sum())
display(df.shape)

RowNumber               int64
CustomerId              int64
Surname                object
CreditScore             int64
Geography              object
Gender                 object
Age                     int64
Tenure                  int64
Balance               float64
NumOfProducts           int64
HasCrCard               int64
IsActiveMember          int64
EstimatedSalary       float64
Exited                  int64
Complain                int64
Satisfaction Score      int64
Card Type              object
Point Earned            int64
dtype: object

RowNumber             0
CustomerId            0
Surname               0
CreditScore           0
Geography             0
Gender                0
Age                   0
Tenure                0
Balance               0
NumOfProducts         0
HasCrCard             0
IsActiveMember        0
EstimatedSalary       0
Exited                0
Complain              0
Satisfaction Score    0
Card Type             0
Point Earned          0
dtype: int64

(10000, 18)

### Transformação para o tipo categorico

In [ ]:
df['HasCrCard'] = df['HasCrCard'].astype('category')
df['IsActiveMember'] = df['IsActiveMember'].astype('category')
df['Exited'] = df['Exited'].astype('category')

### Análises